body {
  width: 1000px;
  margin: 5px auto;

}

header {
  float: left;
  width: 984px;
  padding: 5px;
  margin: 2px;
  border: solid black 1px;

}

div {
  float: left;
  width: 984px;
  padding: 5px;
  margin: 2px;
  border: solid black 1px;

}

#bild {
  float: left;
  width: 100px;
  padding: 5px;
  margin: 2px;
  border: solid black 1px;

}

#text {
  float: left;
  width: 850px;
  height: 104px;
  padding: 5px;
  margin: 2px;
  border: solid black 1px;

}